/* dashboard.component.css */

/* Container */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
}

.grid a {
  text-decoration: none;
}

.grid-pad {
  padding: 10px;
}

/* Hero Card */
.col-1-4 {
  padding: 10px;
  text-align: center;
}

.module {
  background-color: #607d8b;
  padding: 20px;
  text-align: center;
  color: white;
  border-radius: 4px;

  border: 1px solid #ccc;
  text-decoration: none; /* Remove underline from <a> tag inside .module */
}

.module:hover {
  border-color: #777;
}

/* Hero Name */
h4 {
  margin: 20px 0 10px;
  font-size: 18px;
}
